* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  margin: 0.5rem !important;
  background: rgb(2, 0, 36) !important;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 36%,
    rgba(0, 212, 255, 1) 100%
  ) !important;
}

.btn {
  display: block !important;
}
